<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>E_BOOK APP</title>
</head>
<body>
    <body class="bg-primary text-white">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
      <div class="container">
        <a href="/" class="navbar-brand">
          <h3 class="d-inline align-middle">SEYI-JS</h3>
        </a>
      </div>
  </nav>
  <div class="container">
    <%-body%>
  </div>
    


    <footer>
          <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    </footer>
</body>
</html>